$px: 1px;
$px2: 2px;
$px3: 3px;
$px5: 5px;
$px7: 7px;
$do: 12px;
$seis: 600px;
$sein: 690px;

$uno: 1em;
$dos: 2em;
$tres: 3em;
$ci: 5em;
$sei: 6em;
$siet: 7em;
$och: 8em;
$nuv: 9em;
$di: 10em;
$do: 12em;

$doss: 2%;
$tr: 3%;
$ctr: 4%;
$cin: 5%;
$sie: 7%;
$diez: 10%;
$doc: 12%;
$qui: 15%;
$vn: 20%;
$vci: 25%;
$trc: 35%;
$cint: 50%;
$ses: 60%;
$set: 75%;
$ocht: 80%;
$ochy: 84%;
$novn: 90%;
$cien: 100%;
$civt: 120%;
$ctrt: 130%;
$cct: 140%;
$ccin: 150%;
$cstt: 170%;
